{% extends 'base.html' %}

{% block content %}
<div class="message-box">
  <h2>Chat Room - Welcome {{ session["name"] }}</h2>
  <div id="messages" class="messages"></div>
  <div class="inputs">
    <select id="recipientSelect">
      <option value="public">Public</option>
      {% for user in users %}
      <option value="{{ user }}">{{ user }}</option>
      {% endfor %}
    </select>
    <input type="text" id="messageInput" placeholder="Type your message..." />
    <button id="sendMessageBtn">Send</button>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();
  var messageInput = document.getElementById("messageInput");
  var sendMessageBtn = document.getElementById("sendMessageBtn");
  var messagesDiv = document.getElementById("messages");
  var recipientSelect = document.getElementById("recipientSelect");

  // Send message on button click
  sendMessageBtn.addEventListener("click", function () {
    var message = messageInput.value;
    var recipient = recipientSelect.value;

    if (message) {
      var messageType = recipient === "public" ? "public" : "private";
      socket.emit("message", { type: messageType, data: message, recipient: recipient });
      messageInput.value = '';  // Clear the input field
    }
  });

  // Listen for new messages
  socket.on("message", function (data) {
    var newMessage = document.createElement("div");
    newMessage.textContent = data.name + ": " + data.message;
    messagesDiv.appendChild(newMessage);
    messagesDiv.scrollTop = messagesDiv.scrollHeight;  // Scroll to bottom
  });

  // Update user list
  socket.on("update_users", function(users) {
    var recipientSelect = document.getElementById("recipientSelect");
    recipientSelect.innerHTML = '<option value="public">Public</option>';  // Reset to include the public option

    users.forEach(function(user) {
      if (user !== "{{ session['name'] }}") {  // Don't add the current user to the list
        var option = document.createElement("option");
        option.value = user;
        option.textContent = user;
        recipientSelect.appendChild(option);
      }
    });
  });
</script>
{% endblock %}
